body {
	background-color: #373A42;
	color: #fff;
	font: 14px sans-serif;
	box-sizing: border-box;
}

section {
	padding: 15px 20px;
}

aside {
	display: inline-block;
	width: 30%;
	margin-right: -4px;
	vertical-align: top;
}

.content {
	display: inline-block;
	width: 65%;
	margin: 0 -4px 0 5%;
	vertical-align: top;
}