body {
	background-color: #373A42;
	color: #fff;
	font: 14px sans-serif;
	box-sizing: border-box;
}

section {
	padding: $indent 20px;
}

aside {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	width: 30%;
}

.content {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	width: 65%;
	margin-left: 15px;
}